<div class="card">
  <h3>Budget vs Spending</h3>

  <div class="item" *ngFor="let b of data">
    <div class="title">{{ b.category_name }}</div>

    <div class="bars">
      <div class="bar allotted" [style.width.%]="100"></div>
      <div class="bar allotted" *ngIf="(b.spent_amount * 100)/b.allotted_amount >= 100" [style.width.%]="100"></div>
      <div class="bar spent" *ngIf="(b.spent_amount * 100)/b.allotted_amount < 100" [style.width.%]="(b.spent_amount * 100)/b.allotted_amount"></div>
    </div>

    <div class="numbers">
      <span>₹ {{ b.allotted_amount }} allotted</span>
      <span>₹ {{ b.spent_amount }} spent</span>
    </div>
  </div>
</div>
